.idea*
cmake-build-*/
.DS_Store*
out/
.vs/
docs/html-documentation-generated*
integration_tests/external
golang/pkg/client/version.go
docs/internals/html
appimage/*.AppImage
/test-config*.yaml
localconfig/
